@model DeMonte.Voucher

@{
    ViewBag.Title = "Details";
}
<div class="section-to-print">
 
<h2>THE FOUR LEAF CLOVER</h2>
<h4 style="padding-left:100px";>(HOLIDAY HOME)</h4>
<h5>1751/A, Saipem, Candolim, Bardez Goa, Phone No. 2407789</h5>
<div>
   
    <hr />
    <dl class="dl-horizontal">
       <dt></dt>
        
       
        <dd class="pull-right">
            VOUCHER NO:     @Html.DisplayFor(model => model.VoucherID)
        </dd>
      
        <dt class="pull-right">
         DATE:   @Html.DisplayFor(model => model.TDate)
          
        </dt>
        
   
    </dl>
    <table>
        </br>
        <tr>


            <td>
                PAY TO:  &nbsp;<u>  @Html.DisplayFor(model => model.PayTo)</u>
            </td>
        </tr>

        <tr>
            <td>
                RUPEES: 
            </td>
            <td>
                &nbsp;<u>@ViewBag.vouAmt</u>
            </td>
        </tr>


        <tr>


            <td>
                ON ACCOUNT OF:  &nbsp;        <u>  @Html.DisplayFor(model => model.OnAccountOf)</u>

               
            </td>

        </tr>

        <tr>


            <td>
                CASH/CHEQUE:        &nbsp; <u>    @Html.DisplayFor(model => model.ChequeNo)</u>
                &nbsp; DRAWN ON:   &nbsp;  <u>   @Html.DisplayFor(model => model.DrawnOn)</u>
            </td>
        </tr>

        

       

    </table>
    </br>
    </br>
    </br>
    <table>
        <tr>
            <th>
                RS
            </th>
            <td>
                &nbsp; @Html.DisplayFor(model => model.Amount)
            </td>
            <td style="padding-left: 150px; padding-right: 5px;">
                _________________
            </td>
            <td style="padding-left: 150px; padding-right: 5px;">
                _________________
            </td>
        </tr>

        <tr>
            <td></td>
            <td></td>

            <td style="padding-left: 180px; padding-right: 5px;">
               CASHIER
            </td>
            <td style="padding-left: 140px; padding-right: 5px;">
                RECEIVER'S SIGNATURE
            </td>
        </tr>
        </tr>


    </table>
    
</div>
  </div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
    <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
</p>

