@model DeMonte.Voucher

@{
    ViewBag.Title = "Details";
    Layout = "";
}
<div class="section-to-print" style="background-image: url('/Custom/BkGrnd.png'); background-repeat: no-repeat; background-attachment: fixed; background-position: center; ">
    @Html.Partial("_LetterHead")

    <br />
    <table width="100%">
        <tr>
            <td>No.:     @Html.DisplayFor(model => model.VoucherID) </td>
            <td width="30%"></td>
            <td style="text-align:right;">Date:   @(String.Format("{0:dd-MMM-yyyy}", Model.TDate))</td>
        </tr>
        <tr>
            <td width="43%">&nbsp;</td>
            <td width="30%">
                <h3>VOUCHER</h3>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td width="30%"></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">
                Paid to:  &nbsp;<u>  @Html.DisplayFor(model => model.PayTo)</u>
                Rupees:  &nbsp;<u>@ViewBag.vouAmt</u>
                on account of:  &nbsp;        <u>  @Html.DisplayFor(model => model.OnAccountOf)</u>
                CASH/CHEQUE:        &nbsp; <u>    @Html.DisplayFor(model => model.ChequeNo)</u>
                &nbsp; drawn on:   &nbsp;  <u>   @Html.DisplayFor(model => model.DrawnOn)</u>
            </td>
        </tr>
        
        <tr>
            <td width="43%">
                <h3>Rs. &nbsp; <u>@Html.DisplayFor(model => model.Amount)</u></h3>                
            </td>
            <td style="border-bottom:3px solid; padding-right:18px;" width="30%" height=150 >
            </td>
            <td style="border-bottom:3px solid;">&nbsp;</td>
        </tr>
        <tr>
            <td width="43%"></td>
            <td width="30%" style="text-align:center;"><span style=" font-weight:bold;">CASHIER</span></td>
            <td style=" text-align:center;"><span style=" font-weight:bold;">RECEIVERS SIGNATURE</span></td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    &nbsp;
</div>


<p>
   
    @Html.ActionLink("Back to List", "Index")
    <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
</p>

