@model DeMonte.BillScreen

@{
    ViewBag.Title = "Print Bill";
}

<style>
    table {
        border-collapse:collapse;
    }
    #grid table, #grid th, #grid td {
        border: 1px solid;
        text-align:right;
    }

</style>


   
<div class="section-to-print">
    @Html.Partial("_LetterHead")
    <br />

    @using (Html.BeginForm("Cancel", "Bill", FormMethod.Post))
    {
        <div class="MastDet">
            <div class="form-group">
                @Html.Label("Are you sure you want to cancel this Bill and its associated receipts?", htmlAttributes: new { @class = "control-label col-md-8" })
                <br />
                <div class="col-md-4">
                    @Html.Hidden("KillBill", (int)Model.Bill.BillID)
                    <input type="submit" value="Cancel" class="btn btn-default" />
                    <input type="button" onclick="window.history.go(-1); return false;" value="Dont Cancel" class="btn btn-default" />
                <br />
                </div>
            </div>
        </div>
    }

    <br />

    <table width="100%">
        <tr>
            <td width="30%">No.: <u>@Model.Bill.BillNo</u></td>
            <td style="text-align:right;" width="30%"><h2>INVOICE</h2></td>
            <td style="text-align:right;" width="40%">
                Date:   <u>@(String.Format("{0:dd-MMM-yy}",Model.Bill.BDate))</u>
            </td>
        </tr>
        <tr>
            <td colspan="3">Name: <u>@Model.Customer.Name</u></td>
        </tr>
        <tr>
            <td colspan="2">Address: <u>@Model.Customer.Address</u></td>
            <td>Room Charges per day: <u>@Model.Bill.ChargesPerDay</u></td>
        </tr>
    </table>
    <br />
    <table width="100%">
        <tr>
            <td width="16%">Date Of Arrival:</td>
            <td width="17%"><u>@(String.Format("{0:yyyy-MM-dd}", Model.Bill.DateArrivalTime.Value.Date))</u></td>
            <td width="16%">Departure Date:</td>
            <td width="17%"><u>@(String.Format("{0:yyyy-MM-dd}", Model.Bill.DateDepartureTime.Value.Date))</u></td>
            <td width="16%">Total Days:</td>
            <td width="17%"><u>@Model.Bill.TotalDays</u></td>
        </tr>
        <tr>
            <td width="16%">Check in Time:</td>
            <td width="17%"><u>@Model.Bill.DateArrivalTime.Value.ToShortTimeString()</u></td>
            <td width="16%">Check out Time:</td>
            <td width="17%"><u>@Model.Bill.DateDepartureTime.Value.ToShortTimeString()</u></td>
            <td width="16%">No of Persons:</td>
            <td width="17%"><u>@Model.Bill.NoOfGuest</u></td>
        </tr>
        <tr>
            <td width="16%">Register No:</td>
            <td width="17%"><u>@Model.Bill.RegisterNo</u></td>
            <td width="16%">Room No.:</td>
            <td width="17%"><u>@Model.Bill.RoomNo</u></td>
            <td width="16%">Adv. Rcpt No.:</td>
            <td width="17%"><u>@Model.Bill.BillReceiptNo</u></td>
        </tr>
    </table>
    <br />
    <table id ="grid" width="100%">
        <tr>
            <td style="text-align:left;">Date</td>
            @foreach(var item in Model.BillDetails)
            {
                <td style="font-weight:bold;">@(String.Format("{0:yyyy-MM-dd}", item.Date))</td>
            }
        </tr>
        <tr>
            <td style="text-align:left;">Room Charges</td>
            @foreach (var item in Model.BillDetails)
            {
                <td>@Model.Bill.ChargesPerDay</td>
            }
        </tr>
        <tr>
            <td style="text-align:left;">Extra Person</td>
            @foreach (var item in Model.BillDetails)
            {
                <td>@item.ExtraPerson</td>
            }
        </tr>
        <tr>
            <td style="text-align:left;">GST</td>
            @foreach (var item in Model.BillDetails)
            {
                <td>@item.GST</td>
            }
        </tr>
        <tr>
            <td style="text-align:left;">Miscellaneous</td>
            @foreach (var item in Model.BillDetails)
            {
                <td>@item.Miscelleneous</td>
            }
        </tr>
        <tr>
            <td style="text-align:left;">Others 1</td>
            @foreach (var item in Model.BillDetails)
            {
                <td>@item.Other1</td>
            }
        </tr>
        <tr>
            <td style="text-align:left;">Others 2</td>
            @foreach (var item in Model.BillDetails)
            {
                <td>@item.Other2</td>
            }
        </tr>
        <tr>
            <td style="text-align:left;">Others 3</td>
            @foreach (var item in Model.BillDetails)
            {
                <td>@item.Other3</td>
            }
        </tr>
        <tr>
            <td style="text-align:left;">Others4</td>
            @foreach (var item in Model.BillDetails)
            {
                <td>@item.Other4</td>
            }
        </tr>
        <tr>
            <td style="text-align:left;">Total</td>
            @{ decimal tot = 0;
               decimal GTot=0; }
            @foreach (var item in Model.BillDetails)
            {
                tot = Model.Bill.ChargesPerDay.Value + item.DayTotal;
                GTot += tot;
                <td style="font-weight:bolder;">@(tot)</td>
            }
        </tr>
    </table>
    <br />
    <table id="grid" width="100%">
        <tr>
            @{ 
                var ctw = new ChangeNumbersToWords();
            }
            <td style="text-align:left;" width="70%">Rupees @ctw.changeToWords(GTot.ToString())</td>
            <td width="10%">Advance</td>
            <td width="10%">@ViewBag.AdvanceAmt</td>
        </tr>
        <tr>
            <td width="70%"></td>
            <td width="10%">Bal. to pay</td>
            <td width="10%">@(GTot-(decimal)(ViewBag.AdvanceAmt ??0))</td>
        </tr>
    </table>

   
   
    </div>
    

<hr />
<h1>Receipts</h1>
<table class="table">    
    <tr>                
        <th>Receipt No.</th>
        <th>Type</th>
        <th>Date</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Drawn On</th>        
    </tr>
    @foreach (var item in (IEnumerable<Receipt>) ViewBag.Receipts)
    {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptID)
            </td>
            <td>
                @( (item.ReceiptTypeID == 1) ? "Full Amount" : (item.ReceiptTypeID == 2) ? "Advance" : "Balance")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawnOn)
            </td>
            
            </tr>
            }
    </table>