@model PagedList.IPagedList<DeMonte.BillIndex>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Bills";
}

<center>
    <h2 class="section-to-print"><b>@ViewBag.Title</b></h2>
    
  @*  @using (Html.BeginForm("Index", "Bill", FormMethod.Get))
    {
        <div class="row section-to-Not-print">
            <div>
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp; Bill ID:</td>
                        <td> @Html.TextBox("PropName", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>

                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>
            </div>
        </div>
    }*@
    </center>

<table class="table">
    <tr>       
       <th>Bill No.</th>
        <th>Customer</th>
        <th>No Of Guests</th>
        <th>Arrival Date</th>
        <th>Total Nights</th>
        <th>Room No</th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>       
        <td>
            @Html.DisplayFor(modelItem => item.BillID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfGuests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalDt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDays)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.RoomNo)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Manage", new { id = item.BillID }) |
            @Html.ActionLink("Detail", "Details", "Bill", new { id = item.BillID }, null);
            @Html.ActionLink("Receipts", "Index", "Receipt", new { BillID = item.BillID }, null);
        </td>
        
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
