@model PagedList.IPagedList<DeMonte.Bill>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Bills";
}

<center>
    <h2 class="section-to-print"><b>@ViewBag.Title</b></h2>
    
  @*  @using (Html.BeginForm("Index", "Bill", FormMethod.Get))
    {
        <div class="row section-to-Not-print">
            <div>
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp; Bill ID:</td>
                        <td> @Html.TextBox("PropName", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>

                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>
            </div>
        </div>
    }*@
    </center>

<table class="table">
    <tr>
        <th>Bill No</th>
        <th>No Of Guest</th>
        <th>Date Of Arrival</th>
        <th>Date Of Departure</th>
        <th>Charges Per Day</th>
        <th>Room No</th>
        <th>Advance/Receipt No</th>
        <th>Paid In Foreign/Indian</th>
        <th>Register No</th>
        <th>Encashment Certificate</th>
        <th>Remarks</th>
        <th>Cancelled</th>

        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>    
            @Html.DisplayFor(modelItem =>item.BillID)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.NoOfGuest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChargesPerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNo)
        </td>
         
    <td>
        @Html.DisplayFor(modelItem => item.AdvReceiptNo)
    </td>
       
    <td>
        @Html.DisplayFor(modelItem => item.PaidInForeignIndian)
    </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.RegisterNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EncashCertDetails)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @if(item.Canceled == true)
            {
                @:true
            }
            else
            {
                @:false
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Manage", new { id = item.BillID })

        </td>
        <td>
            @Html.ActionLink("Detail","Details", "BillDetail", new { BID = item.BillID }, null);
        </td>
           
        <td>
          @Html.ActionLink("Receipt", "Manage", "Receipt", new { RID = item.BillID }, null);
         </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
