@model DeMonte.Receipt

@{
    ViewBag.Title = "Details";
}
<div class="section-to-print">
<h2>THE FOUR LEAF CLOVER</h2>
<h4>(HOLIDAY HOME)</h4>
<h5>1751/A, Saipem, Candolim, Bardez Goa, Phone No. 2407789</h5>
<div>
   
    <hr />
    <dl class="dl-horizontal">
       <dt></dt>
        
       
        <dd class="pull-right">
            RECEIPT NO:     @Html.DisplayFor(model => model.ReceiptID)
        </dd>
      
        <dt class="pull-right">
         DATE:   @Html.DisplayFor(model => model.TDate)
          
        </dt>
        
      
        <dt>
           Received with Thanks from Ms /Mrs
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt>
          the sum of Rupees
        </dt>

        <dd>
          @Html.DisplayFor(model=>model.Amount)
        </dd>

        <dt>
           vide Cash/Cheque No.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeNo)
        </dd>

        <dt>
         Cheque date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChqDate)
            </dd>
        
            <dt>
                Drawn On      
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DrawnOn)
              
            </dd>

        <dt>
           Room No.
        </dt>
        <dd>
          Room No  @Html.DisplayFor(model => model.RoomNo)
        
        </dd>
        <dt>
            Bill No.
         </dt>
             <dd>
                 Bill No. @Html.DisplayFor(model => model.BillNo)
             </dd>
        <dt>
              RS 
         </dt>
        <dd>

          
              &nbsp;  &nbsp;   &nbsp;   __________________________  &nbsp;  &nbsp; __________________________
              &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; 
              &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;   &nbsp;   &nbsp; CASHIER &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;
              &nbsp;RECEIVER'S SIGNATURE 
          </dd>


       

    </dl>
</div>
  </div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
    <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
</p>

